/*
   For bittle page(s)
*/

body {
   font-family: Arial, Helvetica, sans-serif;
}

button, .button {
   color: #000000;
   background-color: #AFDFDF;
   border-radius: 8px;
   padding: 1px 10px;
}
button:hover, .button:hover {
   background-color: #9FEFEF;
}
button:active, .button:active {
   background-color: #BEDEE1;
   transform: translateY(2px);
}
button:disabled, .button:disabled {
   color: #A0A0A0;
   background-color: #DFDFDF;
}
input[type=text] {
   background-color: #F8F8FF;
   color: #004000;
}
input[type=text]:focus {
   background-color: #F8FFF8;
   color: #000040;
}

